appdirs==1.4.4
asgiref==3.7.2
atomicwrites==1.4.0
backports.weakref==1.0.post1
brotlipy==0.7.0
cffi==1.16.0
constantly==15.1.0
cssselect==1.1.0
daal==2023.1.1
daal4py==2023.1.1
distlib==0.3.8
Django==5.0.7
docstring-to-markdown==0.13
et-xmlfile==1.1.0
filelock==3.13.1
fonttools==4.25.0
inflection==0.5.1
intel-openmp==2024.0.2
jedi==0.19.1
jsonpointer==2.1
mkl==2024.0.0
munkres==1.1.4
numpy==1.26.4
openpyxl==3.0.10
parso==0.8.3
patsy==0.5.3
pep8==1.7.1
platformdirs==4.2.0
pluggy==1.4.0
ply==3.11
pyarrow==14.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5-sip==12.11.0
python-lsp-jsonrpc==1.1.0
python-lsp-server==1.10.0
queuelib==1.5.0
six==1.16.0
sqlparse==0.5.0
tbb==2021.11.0
typing_extensions==4.9.0
ujson==5.9.0
virtualenv==20.25.0
webencodings==0.5.1