{% extends 'base.html' %}
{% block content %}
    <h1>New User Requests</h1>
    <div id="dashboard-layout">
    <div id="your-clubs">
        <h3>Requests:</h3>
        <ul>
            {% for account_request in account_requests %}
                <li>
                    <p>{{ account_request.email }} - {{ account_request.date_inserted }}</p>
                    <a href="{% url 'approve_request' account_request.a_request_id %}">Approve</a>
                    <a href="{% url 'reject_request' account_request.a_request_id %}">Reject</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="your-clubs">
        <h3>Users:</h3>
        <ul>
            {% for user in users %}
                <li>
                    <p>{{ user.email }} - {{ user.date_inserted }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
