{% extends 'base.html' %}
{% block content %}
<h1>New User Requests</h1>
<div id="dashboard-layout">
    <div id="your-clubs">
        <h3>Requests:</h3>
        <ul>
            {% for accountrequest in accountrequests %}
                <li>
                    <p>{{ accountrequest.email }} - {{ accountrequest.date_inserted }}</p>
                    <a href="{% url 'approve_request' accountrequest.a_request_id %}">Approve</a>
                    <a href="{% url 'reject_request' accountrequest.a_request_id %}">Reject</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
