{% extends 'base.html' %}
{% block content %}
    <div id="club-logo">
        {#    <img src="club-logo"#}
    </div>
    <div id="Req/leave-button">
        {# Python if statement needed here to check if user is a member of a club  if they are a member it will display a leave button#}
        {# If they are not a member of this club it will display a request to join button  #}
    </div>
    <div id="club-events">
        <h1>Events</h1>
        <ul>
            <li><p>Next event chronologically from this club displayed here</p></li>
            <li><p>Next event chronologically from this club displayed here</p></li>
            <li><p>Next event chronologically from this club displayed here</p></li>
        </ul>
    </div>
    <div id="club-info">
        <h1>'Club name'</h1>
        <p>Club information/description stored here </p>
    </div>
{% endblock %}