{% extends 'base.html' %}
{% block content %}
    <div id="club-name-box">
        <h1>{{ club }}</h1>
        <div id="edit-club-name">
            <button class="edit-name">Edit Name</button>
        </div>
    </div>
    <div id="event-control">
        <button class="create-event">Create Event</button>
        <div id="upcoming-events2">
            <h2>Events</h2>
            <ul>
                {% for event in events %}
                    <li>
                        {{ event.title }} - {{ event.event_time }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="members-control">
        <div id="requests">
            <h2>Requests</h2>
            <ul>
                {% for club_request in club_requests %}
                    <li>
                        {{ club_request.user.name }}
                        <ul>
                            <li>{{ club_request.user.email }}</li>
                            <li>{{ club_request.date_updated }}</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div id="members">
            <h2>Members</h2>
            <ul>
                <li>Member 1 shown here</li>
                <li>Member 2 shown here</li>
                <li>Member 3 shown here</li>
            </ul>

        </div>

    </div>

{% endblock %}