{% extends 'base.html' %}
{% block content %}
    <div id="left-container">
        <div id="club-name-box">
            <h1>{{ club }}</h1>
        </div>
        <div id="event-control">
            <a href="{% url 'create_event' %}" class="create-event">Create Event</a><br>
            <div id="upcoming-events2">
                <h2>Events</h2>
                <ul>
                    {% for event in events %}
                        <li>
                            {{ event.title }} - {{ event.event_time }} - {{ event.venue }} <br>
                            {{ event.description}}

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="members-control">
        <div id="requests">
            <h2>Requests</h2>
            <ul>
                {% for club_request in club_requests %}
                    <li>
                        {{ club_request.user.name }}
                        <ul>
                            <li>{{ club_request.user.email }}</li>
                            <li>{{ club_request.date_updated }}</li>
                        </ul>
                        <a href="{% url 'approve_club_request' club_request.id %}">Approve</a>
                        <a href="{% url 'deny_club_request' club_request.id %}">Deny</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div id="members">
            <h2>Members</h2>
            <ul>
                {% for member in members %}
                    <li>
                        {{ member.name }}
                        <ul>
                            <li>
                                {{ member.email }}
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}