{% extends 'base.html'%}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Event</title>
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}">
    </head>
<body>
    <h1> Enter Event Details</h1>
    <form>
        <label for="userInput">Title:</label>
        <input type="text" id="userInput" name="userInput">
        <input type="submit" value="Submit">

        <label for="userInput">Description:</label>
        <input type="text" id="userInput" name="userInput">
        <input type="submit" value="Submit">

        <label for="userInput">Date:</label>
        <input type="text" id="userInput" name="userInput">
        <input type="submit" value="Submit">

        <label for="userInput">Venue:</label>
        <input type="text" id="userInput" name="userInput">
        <input type="submit" value="Submit">
        </form>
        <br>
        <br>
        <br>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Save</button>
        </form>
</body>
</html>
{% endblock %}