{% extends 'base.html' %}
{% block content %}
    <h1> Discover </h1>
    <ul style="color: white">
        {% for club, message in messages.items %}
            <li>
                {{ club.name }}
                <ul>
                    <li>{{ club.description }}</li>
                    <li>{{ club.members.count }} members</li>
                    <li>
                        {% if club.accepting_members %}
                            Accepting members!
                            <br>
                            {% if message == '' %}
                                <a href="{% url 'apply_for_club' club.club_id %}">Apply Now!</a>
                            {% else %}
                                {{ message }}
                            {% endif %}
                        {% else %}
                            Currently closed to new members
                        {% endif %}
                    </li>

                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}