{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Club List</title>
    </head>
    <body>
    <h1>Club List</h1>
    <div class="club-container">
        {% for club in clubs %}
            <div class="club-box">
                {% if club.image %}
                    <img src="{{ club.image }}" alt="{{ club.name }}" class="club-image">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <p><a href="{% url 'view_club' club.club_id %}" class="club-title">{{ club.name }}</a></p>
                <p>{{ club.description }}</p>
            </div>
        {% endfor %}
    </div>
    </body>
    </html>
{% endblock %}
