{% extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{#<link rel="stylesheet" href="{% static 'css/style.css' %}">#}
<head>
    <meta charset="UTF-8">
    <title>CluHub</title>
</head>
<body>
{% block content %}
<div class="background-image">
    <div id="title-box">
        <h1>Welcome to </h1>
        <h2>ClubHub</h2>
    </div>
    <div id="Login-button"><a href="./login">Login/ Sign Up </a>
    </div>
</div>
{% endblock %}
</body>
<footer>
    <p>Find out more</p>
</footer>
</html>
