{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{#<link rel="stylesheet" href="{% static 'css/style.css' %}">#}
<head>
    <meta charset="UTF-8">
    <title>CluHub</title>
</head>
<header>
    <a href="./">Home</a>
    <a href="./discover">Discover</a>
    <a href="./login">Login</a>

</header>
<body>
{% block content %}
    <div class="background-image">
        <div id="title-box">
            <h1>Welcome to </h1>
            <h2>ClubHub</h2>
        </div>
        <div id="Login-button"><a href="./login">Login</a>
        </div>
        <div id="Login-button"><a href="./register">Register</a>
        </div>
    </div>
{% endblock %}
</body>
<footer>
    <p>Find out more</p>
</footer>
</html>
