{%extends 'base.html'%}
{%block content%}
<h1>New User Requests</h1>
<div id="dashboard-layout">
<div id="your-clubs">
<h3>Requests:</h3>
<ul>
    <li><p>User Requests appear reverse chronological</p></li>
    <li><p>User Requests appear reverse chronological</p></li>
    <li><p>User Requests appear reverse chronological</p></li>
</ul>
</div>
<div id="upcoming-events">
<h3>Users:</h3>
<ul>
    <li><p>Users approved chronological</p></li>
    <li><p>Users approved chronological</p></li>
    <li><p>Users approved chronological</p></li>
    <li><p>Users approved chronological</p></li>
</ul>
</div>
</div>
{%endblock%}