{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="container">
    <div class="banner">
        <h1>CLUBHUB</h1>
        <h3>Where every click brings you closer to exciting clubs and thrilling events.</h3>
        <h3>Sign up today!</h3>
        <a href="/login" class="back-button">&#8592; Back to Login</a>
    </div>
    <div class="form">
        <img src="https://media.licdn.com/dms/image/D5603AQEgfGOLtVwdSQ/profile-displayphoto-shrink_400_400/0/1695824257660?e=1714003200&v=beta&t=8kZzeoXL2rMoHak0Vim0QyXe_0sNZxo-kX5jawOMmiM" alt="profile" width="70">
        <small>Sign Up Here!</small>
        <input type="name" placeholder="Name">
        <input type="phone" placeholder="Phone Number">
        <input type="email" autocomplete placeholder="Email">
        <input type="password" placeholder="Password">
        <a href="">Sign Up</a>
        
    </div>
</div>
