{% extends 'base.html'%}
{% block content %}
    <h1>Your Dashboard</h1>
    <div id="dashboard-layout">
    <div id="your-clubs">
    <h3>Your Clubs</h3>
    <ul>
        <li><p>Students 1st club will be seen here</p></li>
        <li><p>Students 2nd club will be seen here</p></li>
        <li><p>Students 3rd club will be seen here</p></li>
    </ul>
    </div>
    <div id="upcoming-events">
    <h3>Upcoming Events</h3>
    <ul>
        <li><p>Next event chronologically from a students club displayed here</p></li>
        <li><p>Next event chronologically from a students club displayed here</p></li>
        <li><p>Next event chronologically from a students club displayed here</p></li>
        <li><p>Next event chronologically from a students club displayed here</p></li>
    </ul>
    </div>
    </div>
{% endblock %}