{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="event-details">
            <h3>Event Details</h3>
            <p>**Date:** 2024-02-23 (Placeholder)</p>
            <p>**Event Name:** PL Meet (Placeholder)</p>
            <p>**Description:** jhjgvyuiswhejdfnjsef(Placeholder)</p>
            <p>**Club:** [sports complex gym] (Placeholder)</p>
            <p>**Attending:** 24 (Placeholder)</p>
        </div>
        <div class="requests">
            <h3>Requests</h3>
            <ul>
            </ul>
        </div>
    </div>

{% endblock %}