{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="event-details">
            <h3>Event Details</h3>
            <p>Event Name: {{ event.title }}</p>
            <p>Date: {{ event.event_time }}</p>
            <p>Description: {{ event.description }}</p>
            <p>Club: {{ event.venue }}</p>
            <p>Attending: {{ n_attendees }}</p>
            {% if user_role_str == 'Student' %}
                {% if not request.user in attendees %}
                    <a href="{% url "join_event" event.event_id request.user.user_id %}">Join Now!</a>
                {% else %}
                    <p>Already registered</p>
                {% endif %}
            {% endif %}

        </div>
        {% if user_role_str == 'Coordinator' %}
            <div class="requests">
                <h3>Requests</h3>
                <ul>
                    {% for r in requests %}
                        <li>{{ r.user.name }}</li>
                        <li>{{ r.date_updated }}</li>
                        <a href="{% url 'approve_event_request' event.event_id r.user.user_id %}">Approve</a>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}